body {
  font-family: fantasy;
  color: midnightblue;
  /*background-image: url('/static/images/background.png');*/
}

h2, a {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.openPage {
  background-color: darkred;
}

#openPage {
  background-color: white;
}

#deleteAnswer {
  font-size: smaller;
}

input[type=submit], .button, button {
  background-color: darkred;
  border-radius: 12px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

#title {
  color: dimgrey;
  text-decoration: underline;
}

#title:hover {
  color: darkred;
  text-decoration: none;
}

.sort_button {
  color: white;
  background: darkred;
  padding: 2px;
  border-radius: 12px;
}

table {
  display: table;
  font-size: 16px;
  border-collapse: separate;
  border-spacing: 10px;
}

thead {
  text-transform: uppercase;
  background-color: dimgrey;
  color: white;
}

th {
  min-width: 50px;
  padding: 5px 10px;
}

/*tr:hover {
  background-color: dimgrey;
}*/

.upload {
  font-weight: bold;
  font-size: 18px;
}
