body {
  font-family: fantasy;
  color: #1e1e2c;
  background-color: #e2e2e2;
  /*background-image: url('/static/images/background.png');*/
}

h2, a {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.open {
  color: white;
  background-color: #1e1e2c;
}

.openPage {
  background-color: #e07a88;
}

#openPage {
  background-color: white;
}

#deleteAnswer {
  font-size: smaller;
}

input[type=submit], .button, button {
  background-color: #e07a88;
  border-radius: 12px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

#title {
  color: #7e3bbe;
  text-decoration: underline;
}

#title:hover {
  color: #e07a88;
  text-decoration: none;
}

.sort_button {
  color: white;
  background: #2b218d;
  padding: 2px;
  border-radius: 12px;
}

table {
  display: table;
  font-size: 16px;
  color: #1e1e2c;
  border-collapse: separate;
  border-spacing: 10px;
}

thead {
  text-transform: uppercase;
  background-color: #1e1e2c;
  color: white;
}

th {
  min-width: 50px;
  padding: 5px 10px;
}

#open_page_thead {
    text-transform: uppercase;
    background-color: white;
    color: #1e1e2c;
}

.open_table {
    background-color: #1e1e2c;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.open_title {
    color: #e07a88;
    text-decoration: underline;
}

#open_title:hover {
  color: #7e3bbe;
  text-decoration: none;
}

.upload {
  font-weight: bold;
  font-size: 18px;
}

#search {
  margin:auto;
  max-width:500px;
  font-size: large;
}

#search_img {
  position: absolute;
  horiz-align: left;
}

.vote {
  background-color: #1e1e2c;
}

#comments {
  position: absolute;
  left: 580px;
  top: 160px;
}