<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Ask your question here!</h1>
    <form action="{{ url_for('add_question', id=question_id) }}" method="POST">
        <br>
        <label for="title">Title:</label><br>
        <input name="title" type="text" size="60" required>
        <br><br>
        <label for="message">Details:</label>
        <br>
        <textarea id="message" name="message" rows="4" cols="60" required></textarea>
        <br><br>
        <input type="hidden" id="image" name="image" value="none">
        <label class="upload">Upload image: </label>
        <input type="file" name="file">
        <br><br>
        <button id="upload" name="submit" type="submit">Post question</button>
    </form>
</body>
