<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Your selected question</h1>
    <div id="questions">
        {% for value in question %}
        <label for="title">Title:</label><br>
        <input name="title" type="text" size="60" value="{{ value.title }}" readonly>
        <br><br>
        <label for="message">Details:</label>
        <br>
        <textarea name="message" rows="4" cols="60" readonly>{{ value.message }}</textarea>
        <br>
        <label for="image">Images:</label>
        <br>
        <input type="image" name="image" value="{{ value.image }}" readonly>
        {% endfor %}
    </div>
    <br><br>
    <a href="{{ url_for('edit_a_question', question_id=question_id) }}" class="button"><strong>Update question</strong></a>
    </form>
        
        <a href="{{ url_for('delete_question', question_id=question_id) }}" class="button"><strong>Delete question</strong></a>
        <a href="{{ url_for('display_questions') }}" class="button"><strong>Back to all questions</strong></a>
        <br><br>
        <a href="{{ url_for('post_an_answer', question_id=question_id) }}" class="button"><strong>Add Answer</strong></a><br><br>
        <label for="answers">Answers:</label><br>
        <ol>
            {% for answer in answers %}
                <li><form action="{{ url_for('delete_an_answer', answer_id=answer["id"])}}">
                    {{ answer["message"] }}
                    <input type="image" name="image" value="{{ answer['image']}}">
                    <input type=submit value=X id="deleteAnswer">
                </form></li>
            {% endfor %}
        </ol>
        
        <div id="comments">
        <a href="{{ url_for('post_comment_to_q', question_id=question_id) }}" class="button"><strong>Add Comment</strong></a>
        <br><br>
        <label for="comments">Comments:</label><br>
        <ol>
            
            {% for comment in comments %}
                <li><form action="{{ url_for('delete_comment_from_question', comment_id=comment['id']) }}">
                    {{ comment.message }}
                    <input type="image" name="image" value="{{ comment['image']}}">
                    <input type=submit value=X id="deleteComment">
                </form></li>
            
            {% endfor %}
        </ol>
    </div>
    </body>
</html>