<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Your selected question</h1>
    {% for key in question %}{% if key.id == question_id %}
    <form id="questions" action="{{ url_for('display_given_question', question_id=question_id) }}" method="POST">
        <label for="title">Title:</label><br>
        <input name="title" type="text" size="60" value="{{ key.title }}" readonly>
        <br><br>
        <label for="message">Details:</label>
        <br>
        <textarea name="message" rows="4" cols="60" readonly>{{ key.message}}</textarea>
        <br>
        <label for="image">Images:</label>
        <br>
        <input type="image" name="image" value="{{ key.image }}" readonly>
        <br><br>
    </form>
    <form action="/question/{{ key.id }}/edit" method="get">
        <button type="submit" name="update" value="update" class="update">Update question</button>
    </form>
        <a href="{{ url_for('delete_question', question_id=question_id) }}" class="button"><strong>Delete question</strong></a>
        <a href="{{ url_for('display_questions') }}" class="button"><strong>Back to all questions</strong></a>
        <br><br>
        {% endif %}
    {% endfor %}
        <label for="answers">Answers:</label><br>
        <ol>
            {% for answer in answers %}{% if key.id == answer_id %}
                <li><form action="{{ url_for('delete_an_answer', answer_id=answer_id)}}">
                    {{ answer.id }}
                    <input type="image" name="image" value="{{ answer.image}}">
                    <input type=submit value=X id="deleteAnswer">
                </form></li>
            
        </ol>
         
         
        <form action="/question/{{ answer.id }}/new-answer" method="post">
            
            <button type="submit" name="update" value="update" class="update">Answer</button>
            {% endif %}
            {% endfor %}
        </form>
        
        
        
    </body>
</html>