<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Your selected question</h1>
    <form id="questions" action="{{ url_for('display_given_question', question_id=question_id) }}" method="POST">
        <label for="title">Title:</label><br>
        <input name="title" type="text" size="60" value="{{ question['title']}}" readonly>
        <br><br>
        <label for="message">Details:</label>
        <br>
        <textarea name="message" rows="4" cols="60" readonly>{{ question['message']}}</textarea>
        <br>
        <label for="image">Images:</label>
        <br>
        <input type="image" name="image" value="{{ question['image']}}" readonly>
        <br><br>
    </form>
        <a href="{{ url_for('edit_a_question', question_id=question_id) }}" class="button"><strong>Update question</strong></a>
        <a href="{{ url_for('delete_question', question_id=question_id) }}" class="button"><strong>Delete question</strong></a>
        <a href="{{ url_for('display_questions') }}" class="button"><strong>Back to all questions</strong></a>
        <br><br>
        <label for="answers">Answers:</label><br>
        <ol>
            {% for answer in answers %}
                <li><form action="{{ url_for('delete_an_answer', answer_id=answer["id"])}}">
                    {{ answer["message"] }}
                    <input type="image" name="image" value="{{ answer['image']}}">
                    <input type=submit value=X id="deleteAnswer">
                </form></li>
            {% endfor %}
        </ol>
        <a href="{{ url_for('post_an_answer', question_id=question_id) }}" class="button"><strong>Answers</strong></a>
</body>
</html>