<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>All questions</h1>
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                    {% if header in headers[1:6] %}
                <th>{{ header }}
                    <br>
                    <a class="sort_button" href="{{ url_for("sort_questions", order_by=header|lower, order='ASC') }}">
                        <span style='font-size:10px;'>&#8911;</span></a>
                    <a class="sort_button" href="{{ url_for("sort_questions", order_by=header|lower, order='DESC') }}">
                        <span style='font-size:10px;'>&#8910;</span></a>
                </th>
                    {% else %}
                    <th>{{ header }}</th>
                    {% endif %}
                {% endfor %}
                <th>Vote Up</th>
                <th>Vote Down</th>
            </tr>
        </thead>
        <tbody>
            {% for question_dict in questions %}
                <tr>
                {% for key,value in question_dict.items() %}
                    {% if key == "title" %}
                        <td>
                        <a id="title" href="{{ url_for("display_given_question", question_id=question_dict["id"]) }}">{{ value }}</a>
                        </td>
                    {% elif value == "image" %}
                        <td><img src="{{ url_for('static', filename=question_dict['image']) }}" height="45"></td>
                    {% elif value == "vote_number" %}
                        <td>{{ value }}</td>
                        <td><img src="/static/img/{{ value }}" height="45"></td>
                    {% else %}
                        <td>{{ value }}</td>
                        {% endif %}
                        {% endfor %}
            <td>
                <form action="/question/{{ question_dict['id'] }}/vote_up" method="post">
                    <button class="vote" type="submit" name="vote-up" value="up" class="vote">
                        <img  class="vote" src="/static/images/upvote.png" alt="up" width="20">
                    </button>
                </form>
            </td>
            <td>
                <form action="/question/{{ question_dict['id'] }}/vote_down" method="post">
                    <button class="vote" type="submit" name="vote-down" value="down" class="vote">
                        <img class="vote" src="/static/images/downvote.png" alt="down" width="20">
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_question') }}">
        <img src="{{ url_for('static', filename='images/Movieee.ug_logo.png') }}" width=200 title="Click to ask a question">
    </a>
    <br>
    <a class="back-to-main" href="{{ url_for('hello') }}"><button>Back to main page</button></a>
</body>
</html>
