<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>All questions
    <!-- Need some corrections, not working yet.
    <select href="{{url_for("sort_questions", order="asc", order_by=header|lower) }}">
        {% for header in headers[1:6] %}
        <option>{{ header }}
        </option>
        {% endfor %}
    </select>-->
    </h1>
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                    {% if header in headers[1:6] %}
                <th>{{ header }}
                    <br>
                    <a class="sort_button" href="{{url_for("sort_questions", order="asc", order_by=header|lower) }}"><span style='font-size:10px;'>&#8911;</span></a>
                    <a class="sort_button" href="{{url_for("sort_questions", order="desc", order_by=header|lower) }}"><span style='font-size:10px;'>&#8910;</span></a>
                </th>
                    {% else %}
                    <th>{{ header }}</th>
                    {% endif %}
                {% endfor %}
                <th>Vote Up</th>
                <th>Vote Down</th>
            </tr>
        </thead>
        <tbody>
            {% for question_dict in questions %}
                <tr>
                {% for key,value in question_dict.items() %}
                    {% if key == "title" %}
                        <td>
                        <a id="title" href="{{ url_for("display_given_question", question_id=question_dict["id"]) }}">{{ value }}</a>
                        </td>
                    {% elif value == "image" %}
                        <td><img src="/static/images/{{ value }}" height="45"></td>
                    {% elif value == "vote_number" %}
                        <td>{{ value }}</td>
                    {% else %}
                        <td>{{ value }}</td>
                        {% endif %}
                        {% endfor %}
            
            <td>

                <form action="/question/{{ question_dict['id'] }}/vote_up" method="post">
                    <button type="submit" name="vote-up" value="up" class="vote">
                        <img src="/static/images/upvote.png" alt="up" width="40">
                    </button>
                </form>
            </td>
            <td>

                <form action="/question/{{ question_dict['id'] }}/vote_down" method="post">
                    <button type="submit" name="vote-down" value="down" class="vote">
                        <img src="/static/images/downvote.png" alt="down" width="40">
                    </button>
                </form>
            </td>
        </tr>
        
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_question') }}">
        <img src="{{ url_for('static', filename='images/ask_question.png') }}" width=150 title="Click to ask a question">
    </a>
</body>
</html>
