<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Hello movie fan</h1>
    <a href="{{ url_for('display_questions') }}"><img src="{{ url_for('static', filename='images/ask_question.png') }}" width=300 title="Let us know what do you interesting for!"><figcaption>Let us know what do you interesting for!</figcaption></a>
    <a href="{{ url_for('add_question') }}">If you don't remember a movie, share your memories, and the community will try to help you!</a>
</body>
</html>