<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="text-align:center;">
    <h2><a class="openPage" href="{{ url_for('add_question') }}" title="Got questions? We got answers!">Find your movie!</a></h2>
    <br>
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for question_dict in selected_questions %}
                <tr>
                {% for key,value in question_dict.items() %}
                    <!--{% if searched_word in question_dict["title"] or searched_word in question_dict["q_message"] or searched_word in question_dict["a_message"] %}
                        {{ searched_word }} = <strong>{{ searched_word }}</strong>
                    {% endif %}-->
                    {% if key == "title" %}
                        <td><a id="title" href="{{ url_for("display_given_question", question_id=question_dict["id"]) }}">{{ value }}</a></td>
                    {% elif value == "image" %}
                        <td><img src="/static/images/{{ value }}" height="45"></td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="search_img">
    <a href="{{ url_for('hello') }}">
        <img src="{{ url_for('static', filename='images/Movieee.ug_logo.png') }}" width=200 title="Click to ask a question">
    </a>
    </div>
</body>
</html>