<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Update this question!</h1>
    <a href="/list"><button>Back to Home Page</button></a>
    <a href="/question/{{ question['id'] }}"><button>Back to the question</button></a>
    <form action="" method="POST">
        <label for="title">Title:</label><br>
        
        <input name="title" type="text" size="60" value="{{ question['title'] }}" required>
        <br><br>
        
        <label for="message">Details:</label>
        <br>
        <textarea name="message" rows="4" cols="60" required>{{ question['message'] }}</textarea>
        <br><br>
        
        <button type="submit" value="Update User Story">Update</button>
        
        
        
    </form>
</body>
</html>